@import 'lxgw-wenkai-webfont/lxgwwenkai-regular.css';
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0
}

body {
  font-family: "LXGW WenKai", sans-serif;
  -webkit-text-size-adjust: 100%;
}
pre,code {
  font-family: "LXGW WenKai Mono", sans-serif;
}
a {
  color: #2d374b;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

em {
  font-style: normal
}

li {
  list-style: none
}

img {
  border: 0;
  vertical-align: middle
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

p {
  word-wrap: break-word
}

&::-webkit-scrollbar {
  width: 6px;
  background-color: #eee;
}

&::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;

  &:hover {
    background-color: #a8a8a8;
  }

  &:active {
    background-color: #787878;
  }
}

& {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #eee;
}

.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin; /* Firefox需要的样式 */
  scrollbar-color: #888 #f1f1f1; /* Firefox需要的样式 */
}